#brownbar {background:transparent url(images/bg_title.gif); background-color:#404038; height:25px; width:100%;}

#content {min-width:600px;}

#header {background:transparent url(images/bg_header.gif); background-color:#7b7c6c; height:95px; margin-top:0px; padding:0px;}

#leftcolumn {position:absolute; left:0px; top:0px; width:136px;}

#logo1 {position:absolute; top:0px;}

#maincontent {}

#rightcolumn {margin-left:136px;}

#facebook {float:left; padding:8px 8px 16px 8px}

#twitter {float:left; padding:8px 0px 16px 0px}



a {font-size:13px; color:#333300; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold;}

a:hover {
	font-size:13px;
	color:#666600;
	font-family:Arial,Helvetica,Verdana,sans-serif;
	font-weight:bold;
}

a.small {font-size:12px; color:#333300; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold;}

a.small:hover {font-size:12px; color:#666600; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold;}

a.info {color:#333300; font-size:11px; font-family:Arial,Helvetica,Verdana,sans-serif;}

a.info:hover {color:#666600; font-size:11px; font-family:Arial,Helvetica,Verdana,sans-serif;}

a.info_on {color:#666600; font-size:11px; font-family:Arial,Helvetica,Verdana,sans-serif;}

a.info_on:hover {color:#666600; font-size:11px; font-family:Arial,Helvetica,Verdana,sans-serif;}

a.navWhite {color:#ffffff; font-size:11px; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold; text-decoration:none;}

a.navWhite:hover {color:#ffffff; font-size:11px; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold; text-decoration:none;}

a.navTan {color:#d8d9cb; font-size:11px; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold; text-decoration:none;}

a.navTan:hover {
	color: #ffffff;
	font-size: 11px;
	font-family: Arial,Helvetica,Verdana,sans-serif;
	font-weight: bold;
	text-decoration: none;
}

body {
	background:transparent url(images/bg_navigation.gif) repeat-y;
	margin:0px;
	padding:0px;
	background-color:#f9f9f2;
}

html {margin:0px; padding:0px;}

p,div,blockquote,span {
	font-size: 13px;
	font-family: Arial,Helvetica,Verdana,sans-serif;
}

ul,ol,li {margin-top:0px; margin-bottom:0px; font-size:13px; font-family:Arial,Helvetica,Verdana,sans-serif;}



.bg_description {background-color:#e6e7d9; padding:8px;}

.bg_navBrown {background:transparent url(images/bg_title.gif); background-color:#404038; padding-left:4px; padding-top:2px; padding-bottom:2px;}

.bg_navTan {background:transparent url(images/bg_navigationTan.gif); padding-left:12px; padding-top:2px; padding-bottom:2px;}

.bg_navTanMain {background:transparent url(images/bg_navigationTan.gif); padding-left:4px; padding-top:2px; padding-bottom:2px;}

.bold {font-weight:bold;}

.border_1pxblack {border:1px solid #000000;}

.border_enlarge {border:1px solid #000000; background-color:#000000;}

.date {color:#ffffff; font-size:11px; font-family:Arial,Helvetica,Verdana,sans-serif; padding-top:3px;}

.date_adopt {padding:0px 0px 0px 0px; min-height:70px;}

.didyouknow {color:#464646; font-family:Arial,Helvetica,Verdana,sans-serif; font-size:17px; font-weight:bold;}

.donate {position:absolute; top:60px; right:0px;}

.floatleft {float:left;}

.floatright {float:right;}

.heading {color:#464646; font-family:Arial,Helvetica,Verdana,sans-serif; font-size:14px; font-weight:bold;}

.hr_rule {width:80%; border-top:2px solid #333300; height:2px;}

.info {color:#666600; font-size:11px; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold;}

.last_updated {position:absolute; top:0px; right:0px; padding-top:7px; padding-right:7px; width:150px;}

.lime {font-size:11px; color:#00ff00; font-family:Arial,Helvetica,Verdana,sans-serif; background-color:#000000;}

.navBG {background:transparent url(images/bg_navigationTan.gif); width:136px; height:1px;}

.noprint {display:block;}

.padding_6pxL {padding-left:6px; display:block;}

.padding4px {padding:4px;}

.padding6pxR {padding-right:6px;}

.padding12px {padding:12px;}

.padding_12pxL {padding-left:12px; display:block;}

.padding_title {padding-top:3px; padding-left:6px;}

.sidenote {background-color:#cacbbb; padding:8px; border:1px solid #404038; float:right; margin-left:14px;}

.sidenote_bg {background-color:#cacbbb; padding:8px; border:1px solid #404038;}

.sidenote_nobg {margin-left:14px; float:right;}

.subtitle {font-family:Times,"Times New Roman",Arial,Verdana,sans-serif; font-size:14px; font-weight:bold; color:#ffffff;}

.square {font-size:13px; font-family:Arial,Helvetica,Verdana,sans-serif; list-style-type:square;}

.text_navWhite {color:#ffffff; font-size:11px; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold;}

.title {font-family:Times,"Times New Roman",Arial,Verdana,sans-serif; font-size:17px; font-weight:bold; color:#ffffff;}

.titleDonation {color:#464646; font-family:Arial, Verdana,sans-serif; font-size:20px; font-weight:bold;}

.small {color:#000000; font-family:Arial,Helvetica,Verdana,sans-serif; font-size:12px; font-weight:normal;}

.whitecaption {color:#ffffff; font-family:Arial,Helvetica,Verdana,sans-serif; font-size:11px; font-weight:normal;}
